.product-type-card {
  height: 10rem;
  width: 20%;
  display: flex;
  place-items: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-right: 2rem;

  &:hover {
    cursor: pointer;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
}