.dropdown-store {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    background-color: #ffffff;
    display: inline-flex;
    // animation: showDropdownStore 0.4s ease-in-out both;
    padding: 1rem 0rem 1rem 0rem;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 30rem;
    left: 0;
    right: 0;
    top: 6.5rem;        
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: inline-flex;
    border-top: 1px solid lightgray;

    &__categories {
        padding: 1rem 1rem 1rem 1rem;
        transition: 0.5s;
        border-right: 1px solid gray;
        
    }

    &__store-categories {
        display: flex;
        text-align: left;
        width: 15rem;
        padding: 0rem 0rem 0rem 1rem;
        height: 2.5rem;
        padding-right: 0.5rem;
        place-items: center start;
        text-transform: uppercase;
        
        &:hover {
            cursor: pointer;
            transition: 0.5s;
            border-radius: 5px;
            background-color: lightgray;
        }
    }

    &__store-categories-text-wrap {
        text-align: left;
    }

    &__arrow-wrap {
        width: 1rem;
        height: 1rem;
        margin-left: auto;
        display: flex;
        place-items: center;
    }

    &__sub-categories {
        width: 100%;
        padding: 0rem 1rem 0rem 1rem;
        height: 25rem;
    }
    
    &__sub-categories-wrap {
    }
    
    &__sub-categories-title {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    &__item {
        
        margin-bottom: 0.3rem;
        &:hover {
            cursor: pointer;
            background-color: lightgrey;
        }
    }

    &__sub-categories-items-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0rem 1rem 0rem 1rem;
        margin-bottom: 1rem;
    }

    &__wrap{
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    &__sub-categories-item {
        font-size: 1rem;
    }
}

.show-items {
    width: 100%;
}

.simpy-hidden-dropdown {
    position: absolute;
    width: 100%;
    height: 0rem;
    left: 0;
    right: 0;
    top: 6.8rem;        
    max-width: 178ch;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: inline-flex;
    z-index: 10;
}

.animate-hide-dropdown {
    animation: unShowDropdownStore 0.4s ease-in-out both;;
    z-index: 10;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    background-color: #ffffff;
    display: inline-flex;
    position: fixed;
    width: 100%;
    height: 30rem;
    left: 0;
    right: 0;
    top: 6.5rem;        
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: inline-flex;
}
.display-none {
    display: none;
}

/**
OPACITY IS KEPT AT 0.2 BECAUSE OF THE DISPLAY NONE LOGIC IN THE OTHER PAGE
 useEffect(() => {
    console.log(opacityOfDropdown);
    if (opacityOfDropdown === "0") {
      setDisplayNull(true);
    }
  }, [opacityOfDropdown]);
WHERE AS TO NOT 
*/
@keyframes showDropdownStore {
    0% {opacity: 0.2;}
    10% {opacity: 0.2; margin-top: 0.5rem;}
    60% {opacity: 1; margin-top: 0.1rem;}
    100% {opacity: 1; margin-top: 0rem;}
}

@keyframes unShowDropdownStore {
    0% {height: 30rem; 
        padding: 1rem 0rem 1rem 0rem; 
        border-top: 1px solid lightgray;}
    95% {height: 1.5rem; 
        padding: 1rem 0rem 1rem 0rem; 
        border-top: 1px solid lightgray;}
    100% {height: 0rem;}
}
// @keyframes setDropdownStoreToNotAppearing {
//     0% {opacity: 1;}
//     10% {opacity: 1; margin-top: -1rem;}
//     60% {opacity: 0; margin-top: 0.2rem;}
//     100% {opacity: 0; margin-top: 0rem;}
// }
