.deal-frames {
    height: 20rem;
    width: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid black;

}

.deals-full-width {
    display: flex;
    width: 100%;
    height: 30rem;
}